@use "../grid";
.application {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 67, 87, 0.7);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;  
    transition: opacity 0.5s ease 0s, background-color 0.5s ease 0s, visibility 0.5s ease 0s;
   
    &.popup--active {
        opacity: 1;   
        visibility: visible;
    } 
    &__wrapper {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__system {
        position: relative;
        right: -50%;

        font-weight: 400;
font-size: 12px;
line-height: 16px;
    }
    &__close {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }
    &__content {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        // position: relative;
        // bottom: 50%;
        // left: 50%;
        // transform: translate(-50%, 20%);
        background: #F8F9FC; 
        border-radius: 15px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 4%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
        // margin: 0 auto;
        max-width: 560px;

        padding: 40px;
        @media screen and (max-width: 650px) {
            max-width: 700px;
            border-radius: 50px;
            padding: 40px 20px;
        }
    }


    &__close {
    }

    &__title {
        font-weight: 600;
        font-size: 26px;
        line-height: 47px;
        text-align: center;
        color: #3367FE;
        margin-bottom: 60px;
        @media screen and (max-width: 650px) {
            font-size: 16px;
            line-height: 27px;
        }
    }

    &__form {
        position: relative;
    }

    &__form--popup {
    }

    &__wrapper {
    }

    &__inner {
    }

    &__label{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    &__input {
        padding: 17px 23px;
        margin-bottom: 35px;
    }
    &__input::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    &__input--phone {
    }

    &__input--popup {
    }
    &__button {
        display: block;
        // padding: 20px 135px;


        // width: 478px;
        width: 100%;
        height: 59px;

        background: #1EC925;    
        border-radius: 15px;
        &:hover {
            border-radius: 15px;
        }
    }
}


.application-integration {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 67, 87, 0.7);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;  
    transition: opacity 0.5s ease 0s, background-color 0.5s ease 0s, visibility 0.5s ease 0s;
   
    &.popup--active {
        opacity: 1;   
        visibility: visible;
    } 
    &__wrapper {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &__system {
        position: relative;
        right: -50%;

        font-weight: 400;
font-size: 12px;
line-height: 16px;
    }
    &__close {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }
    &__content {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #F8F9FC; 
        border-radius: 15px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 4%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
        max-width: 560px;
        padding: 40px;
        position: relative;
        @media screen and (max-width: 650px) {
            max-width: 700px;
            border-radius: 50px;
            padding: 40px 20px;
        }
    }


    &__close {
    }

    &__title {
        font-weight: 600;
        font-size: 26px;
        line-height: 47px;
        text-align: center;
        color: #3367FE;
        margin-bottom: 60px;
        @media screen and (max-width: 650px) {
            font-size: 16px;
            line-height: 27px;
        }
    }

    &__form {
        position: relative;
    }

    &__form--popup {
    }

    &__wrapper {
    }

    &__inner {
    }

    &__label{
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 10px;
    }

    &__input {
        padding: 17px 23px;
        margin-bottom: 35px;
    }
    &__input::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }

    &__input--phone {
    }

    &__input--popup {
    }
    &__button {
        display: block;
        // padding: 20px 135px;


        // width: 478px;
        width: 100%;
        height: 59px;

        background: #1EC925;    
        border-radius: 15px;
        &:hover {
            border-radius: 15px;
        }
    }
}

.application__button button button--green:hover {
    border-radius: 15px; 
}
.application-integration__button button button--green:hover {
    border-radius: 15px;
}
 

// .custom-select:nth-last-child(-n+2) {
//     display: none; 
// }


.custom-select--1,   
.custom-select--2 { 
    position: relative;
  }
  
.custom-select--1 select, 
.custom-select--2 select {

    display: none; 
}

// .select-selected {
//     max-width: 478px;
//     background-color: #fff;
//     @media screen and (max-width: 650px) {
//         width: 100%;
//         max-width: 700px;
//         // transform: translate(0,0);
//     }
// }

.select-selected:after {
    position: absolute;
    content: "";
    top: 25px;
    right: 20px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #15171F transparent transparent transparent;

}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
  }

  .select-items div,
  .select-selected {
    color: #15171F;
    padding: 8px 16px;
    // border: 1px solid transparent;
    // border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    // position: absolute;
    // top: 0;
    // right: 0;
    
  
  }

  .select-items {
    position: absolute;
    background-color: #fff;
    width: 480px;
    top: 100%;
    right: -50%;
    // transform: translate(238px,25px);
    // top: 100%;
    // left: 200px;
    z-index: 99;
    @media screen and (max-width: 650px) {
        width: 100%;
        max-width: 700px;
        // margin-left: -500px;
        // right: 0%;
    }
  }
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }


  .select-selected  {
    position: relative;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    padding: 16px 16px;
    transform: translate(50%,10px);
    
    @media screen and (max-width: 650px) {
        top: -50%;
        left: -50%;
        transform: translate(100%,10px);
    }
  }


  

.application-thank {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 67, 87, 0.7);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;  
    transition: opacity 0.5s ease 0s, background-color 0.5s ease 0s, visibility 0.5s ease 0s;
    &.popup--active {
        opacity: 1;   
        visibility: visible;
    }
    &__content {
        min-height: 340px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: relative;
        background: #F8F9FC; 
        border-radius: 15px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 4%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
        max-width: 560px;
        padding: 40px;
        @media screen and (max-width: 650px) {
            max-width: 700px;
            border-radius: 50px;
            padding: 40px 20px;
        }
    }

    &__close {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }

    &__wrapper {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__box-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        position: relative;
        // bottom: -50%;
        left: 50%;
    }

    &__text {
        position: relative;
        font-size: 20px;
        line-height: 26px;
        text-align: center;
        transform: translate(0, 180px);
        @media screen and (max-width: 550px) {
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 21px;
        }
    }
    &__text::before {
        content: "";
        position: absolute;
        width: 53px;
        height: 53px;
        top: -50%;
        right: 50%;

        transform: translate(50%, -100%);
        background-image: url('../img/modal-1.svg');
        background-repeat: no-repeat;

    }
}

.email {
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 67, 87, 0.7);
    overflow-y: auto;
    overflow-x: hidden;
    opacity: 0;
    visibility: hidden;  
    transition: opacity 0.5s ease 0s, background-color 0.5s ease 0s, visibility 0.5s ease 0s;
    &.popup--active {
        opacity: 1;   
        visibility: visible;
    } 

    &__content {
        min-height: 340px;
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #F8F9FC; 
        border-radius: 15px;
        box-shadow: 0 10px 20px rgb(0 0 0 / 4%), 0 2px 6px rgb(0 0 0 / 4%), 0 0 1px rgb(0 0 0 / 4%);
        max-width: 580px;
        padding: 40px;
        overflow: hidden;
        &::before {
            content: '';
            z-index: 1;
            top: 50%;
            right: 50%;
            transform: translate(50%, -95%);
            position: absolute;
            width: 580px;
            height: 280px;
            background-image: url('../img/bc-modal.svg');
            background-repeat: no-repeat;
            @include grid.bp (xs) { 
                transform: translate(50%, -100%);
            }
        }
        @media screen and (max-width: 650px) {
            border-radius: 50px;
            padding: 40px 20px;
        }
    }

    &__close {
        position: absolute;
        z-index: 1;
        top: 10px;
        right: 10px;
        width: 44px;
        height: 44px;
        cursor: pointer;
    }

    &__modal-close {
    }

    &__modal--close {
    }

    &__box-content {
    }

    &__title {
        position: relative;
        z-index: 2;
        font-family: 'IBMPlexSans-Regular';
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        text-align: center;
        margin-bottom: 40px;
    }

    &__text {
        position: relative;
        z-index: 2;
        text-align: center;
        margin-bottom: 10px;
    }
    &__box-img {
        // position: relative;
        // z-index: 2;
        margin-bottom: 60px;
    }
    &__img {
        display: block;
        margin: 0 auto;
        position: relative;
        z-index: 2;
    }

    &__mail {
        position: relative;
        z-index: 2;
        font-family: 'IBMPlexSans-SemiBold';
        font-weight: 600;
        font-size: 16px;
        line-height: 21px;
        text-align: center;
        margin-bottom: 10px;
    }
}

.application .container,
.application-integration .container,
.application-thank .container,
.email .container {
    height: 100%;
}