@use "../variables";
@use "../grid";

.header {
    position: relative;
    z-index: 14;
    margin-bottom: 65px;
    background-color: variables.$mirage;

    @include grid.bp(md) {
        margin-bottom: 0px;
    }

    &__logo {
        z-index: 0;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        padding: 15px 0;
    }

    &__wrapper-menu>*:not(.burger) {
        display: inline-block;
    }

    &__phone {
        position: relative;
        padding-left: 30px;
        margin-right: 40px;

        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.01px;

        color: #FFFFFF;
    }

    &__phone::before {
        content: " ";
        position: absolute;
        width: 20px;
        height: 20px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../img/phone.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &__tel {
        margin-right: 20px;
    }

    &__mobile-menu {
        width: 100%;
        height: 100vh;

        background-color: variables.$mirage;
        position: absolute;
        z-index: 13;
        top: -3500%;
        transition: top .5s ease 0s;
    }

    &__mobile-menu::before {
        content: ' ';
        z-index: 30;
        position: absolute;
        left: 0px;
        top: 70px;
        width: 100%;
        height: 2px;
        background-color: #0D0D12;
        opacity: 0.15;
    }

    &__mobile-menu.mobile-menu--active {
        overflow: auto;
        top: 0;
        transition: top .5s ease 0s;
    }
}

@include grid.bp(md) {
    .header__wrapper-menu {
        & .header__phone {
            display: none;
        }

        & .header__tel {
            display: none;
        }

        & .header__button-enter {
            display: none;
        }
    }
}

@include grid.bp(md) {
    .header__mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;

        & .header__phone {
            // position: relative;
            align-self: flex-start;
            margin-top: 25px;
            order: 0;
            margin-bottom: 35px;
        }

        & .header__tel {
            margin: 0;
            order: 1;
            margin-bottom: 20px;

            @include grid.bp(xs) {
                width: 100%;
            }
        }

        & .header__button-enter {
            margin: 0;
            order: 2;
            width: 170px;

            @include grid.bp(xs) {
                width: 100%;
            }
        }
    }

}

@include grid.bp(md) {
    .header {
        &__wrapper {
            padding: 20px 0;
        }
    }
}

// header__mobile-menu